.gradle/
!gradle.properties
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
out/
build/
target/

*.swp
*.swa
*.iml
*.zip
*-dev.md

idea-sandbox/
